.medical-history-page{
    margin: 1rem;
    width: 100%;
    overflow-y: auto;
}

.medical-history-page-title{
    display: none;
    @media (min-width: 1024px){
        display:block;
        font-weight: bold;
        font-size: 1.125rem;
    }
}

.pagination-container{
        border-radius: 0.5rem;
        border-width: 2px;
        border-color: #DFE8F6;
       
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 0.5rem;
    }
}

.pagination-container-header{
    display: none;
    @media (min-width: 768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        color: #2A3563;
        background-color: #EFF3FA;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: small;
    }
}

.pagination-container-header-patient{
    @media (min-width: 768px){
        width:20%;
    }
}

.pagination-container-header-appointment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF3FA;
    padding: 0.5rem;
    border-radius: 0.25rem;
    @media (min-width: 768px){
        width:30%;
        padding: 0rem;
        background-color:transparent;
    }
}

.pagination-container-header-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    @media (min-width: 768px){
        width:15%;
        padding: 0rem;
    }
}

.pagination-container-header-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    @media (min-width: 768px){
        width:15%;
        padding: 0rem;
    }
}

.pagination-container-header-status{
    display: flex;
    justify-content: center;
    @media (min-width: 768px){     
        width:15%;
    }
}

.pagination-container-header-action{
    @media (min-width: 768px){
        width:5%;
    }
}

.pagination-container-list-main-div {
    padding: 0.5rem;
    @media (min-width: 768px){     
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
        font-size: 0.75rem;
        border-radius: 0.5rem;
    }
}
  
.pagination-container-list-main-div:hover {
    @media (min-width: 768px){
        background-color: #f3f5f8;
        cursor: pointer;
    }
}

.patient-info-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    @media (min-width: 768px){
        width: 20%;
        padding-right: 0.5rem;
    }
}

.patient-avatar{
    width: 40px;
    height: 40px;
}

.text-gray{
    color: #C5D0E6;
}

.successClass{
    padding: 0.25rem;
    width: 60%;
    padding:4 px;
    background-color: #CFFCD4;
    color:#479B36;
    text-align: center;
    border-radius: 0.25rem;
}

.pendingClass{
    padding: 0.25rem;
    width: 60%;
    padding:4 px;
    background-color: #FFF7D0;
    color:#8B601D;
    text-align: center;
    border-radius: 0.25rem;
}

.canceledClass{
    padding: 0.25rem;
    width: 60%;
    padding:4 px;
    background-color: #FFE4DB;
    color:#981C19;
    text-align: center;
    border-radius: 0.25rem;
}

.pagination-container-action-content{
    width: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.pagination-icon-class{
    display:none;
    @media (min-width: 768px){
        display:block;
        width:15px;
        height:15px;
        cursor: pointer;
    }
}

.pagination-CloseIcon-class{
    width:15px;
    height:15px;
    cursor: pointer;
}

.patient-details-info-container{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 20;
    overflow-y: auto;
    height: 100vh;
    @media (min-width: 768px){
        width: 450px;
    }
}

.black-background{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}

.patient-details-info-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom-width: 2px;
    border-bottom-color: #DFE8F6;
}

.patient-details-info-header-title{
    font-weight: bold;
    font-size: 1.125rem;
}

.patient-details-info-title{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.patient-details-info-subtitle{
    font-size: 0.75rem;
}
.patient-details-info-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.patient-details-info-payment{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 2rem;
    row-gap: 0.25rem;
}


.patient-details-info-initial-payment{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    border-bottom-width: 2px;
    border-bottom-color: #DFE8F6;
    border-bottom-style: dashed;
}

.patient-details-info-payment-price{
    place-self: end;
}

.patient-details-info-grand-payment{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.875rem;
    display: grid;
    grid-template-rows: repeat(1, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 2rem;
}

.patient-details-info-grand-payment-title{
    font-weight: bold;
}

.patient-details-info-grand-payment-result{
    place-self: end;
    color: #34D399;
}

.patient-details-info-documentation-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #DFE8F6;
    cursor: pointer;
}

.patient-details-info-documentation-pdf{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.pagination-active{
    color: #192252;
    background-color: #EFF3FA;
    border-radius: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    color: #A9B4CD;
    gap: 1rem;
    padding: 0.5rem;
}