.signUp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    justify-content: space-around;
    height: 100vh
  }
}

.signUp_content {
  width: 90%;
  padding: 1rem 0;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem; 

  @media (min-width: 1024px) {
    width: 40%;
    padding: 0;
    justify-content: center;
    gap: 1rem; 
}
}
.signUp_content p {
    color: #848FAC;
    font-size: 0.875rem
}

.title {
    font-weight: bold;
    font-size: 1.125rem; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
  > * + * {
    margin-left: 0.5rem;
  }
}

.title img{
    height: 25px;
    width: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  @media (min-width: 1024px) {
    gap: 0.5rem; 
}
}

label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input_valid{
    border: 1px solid #848FAC; 
    border-radius: 0.25rem; 
    padding: 0.25rem 0.5rem; 


    &:focus {
        outline: none;
        border-color: #848FAC;
        box-shadow: none;
      }
}
.input_invalid{
    border: 1px solid #EF4444; 
    border-radius: 0.25rem; 
    padding: 0.25rem 0.5rem; 

    &:focus {
        outline: none;
        border-color: #EF4444;
        box-shadow: none;
      }
}

.password_input_container {
    position: relative;
    display: grid;
    grid-auto-flow: column; 
    justify-items: stretch;
    align-items: center;
  }
  
  .password_icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #555;
  }

.signUp_content .error_message {
    color: #EF4444;
}

.checkbox{
    width: ; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.checkbox NavLin{
    font-weight: 400;
}

.checkbox span{
    font-weight: bold;
}

.resetpassword{
    color: #000000;
    font-size: 0.75rem;
    font-weight: bold;
}

.btn{
    background-color: #103F74; 
    color: #fff; 
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem; 
}

.subTitle{
    font-weight: bold;
    font-size: 1.125rem; 
    align-self: center;
}

.white_btn{
    border: 1px solid #848FAC; 
    border-radius: 0.25rem; 
    padding: 0.5rem 0.75rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.minTitle{
    font-size: 1rem; 
    align-self: center;
}

.link {
    font-weight: bold;
}

.loginImg{
    display: none; 

    @media (min-width: 1024px) {
        display: block; 
        width: 50%;
        height: 100%

    }
}

.forgetPassword {
    display: flex;
    justify-content: space-between;
}

.form_Otp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    weight: 100%
}

.input_Otp{
    border: 1px solid #848FAC; 
    border-radius: 0.25rem; 
    padding: 0.25rem 0.5rem; 
    width: 30px;
    height: 30px;
    
    &:focus {
        outline: none;
        border-color: #848FAC;
        box-shadow: none;
      }
    
    @media (min-width: 425px) {
        width: 40px;
        height: 40px;
    }
}

.error-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page-title{
    font-size: 1.875rem; /* 3xl in Tailwind is equivalent to a font-size of 1.875rem */
    color: #EF4444; 
}

.error-page-link{
    font-weight: 700
}